.background{
  height: 180vh;
  width: 100%;
  background-color: var(--color-primary-black-second);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.photo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 75px;


}

.firstImage{
  background-image: url(../../../assets/housePhoto1.webp);

}


.text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 12rem;
  padding: 2.5rem 2.5rem;
  width: 100%;
  background-color: var(--color-primary-gray);
  // border-top: 1px solid var(--color-primary-blue);
  border-bottom: 1px solid var(--color-primary-blue);




}

.text-container p{
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 5rem;

  color: var(--color-primary-white);
}
.photo-container img{
  width: 400px;
  height: 400px;
  border-radius: 50%;

  margin: 60px 15px 15px 15px;
  object-fit: cover;
  cursor: pointer;
  border: 1rem solid #fff;
}


.content-house-text {
  // margin: 15px;
  max-width: 400px;
  height: 10rem;
  background-color: #050505;
  border-bottom: 1px solid #2997ff;
}

.content-house-text{
  text-align: start;
  font-size: 1.3rem;
  // font-weight: 700;
  height: 15rem;
  padding: 15px;
  padding-top: 1.5rem;
  color: #fff;
  background-color: var(--color-primary-gray);

}

.content-house-text p {
  // color: #fff;
  max-width: 500px;
  margin: 5px;



}



.content-house-rating b{
  // color: rgb(255 94 155);

}
.content-house-rating, .content-house-price, .content-house-place {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin: 5px;
}

.button-reserve-container{
  margin-top: 15px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-reserve-container button{
  height: 5.5rem;
  width: 30rem;
  outline: none;
  margin: 5px;
  background-color: var(--color-primary-white);
  color: var(--color-primary-black);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid var(--color-primary-blue);
  cursor: pointer;
  &:hover{
    background-color:var(--color-primary-darkBlue);
    transition: 0.3s;
    border: 1px solid #fff;

  }
}


.notAvaible{
  color: crimson;
}
.avaible{
  color: green;
}


@media only screen and (max-width: 700px){
  .photo-container{
    display: flex;
    flex-direction: column;
  }


  .text-container p{
    font-size: 2.5rem;
    letter-spacing: .1rem;

  }

  .background{
    min-height: 500vh;
    max-height: 1000vh;
  }
}

