<footer>

  <div class="text-container">
    <div class="text-content-first">
      <a>Rules</a>
      <a>Privacy Policy</a>
      <a>About us</a>
      <a>Partners</a>
      <a>Terms of use</a>
    </div>
    <div class="text-content-second">
      <a>FAQ (frequently asked questions)</a>
      <a>Cooperation</a>
      <a>Catalog</a>
      <a>Gallery</a>
      <a>Customers</a>
    </div>
    <div class="text-content-third">
      <a>Newsletter</a>
      <a>News</a>
      <a>Social Media</a>
      <a>Copyright</a>
      <a>Personal data protection</a>
    </div>
  </div>

</footer>
