<nav>
  <div class="logo">HOUSES IN RYSY</div>
  <ul>
    <li>
      <a routerLink="roomlist">ROOMS</a>
      <a routerLink="reservation">RESERVATION</a>
      <a routerLink="contact">CONTACT</a>
    </li>
  </ul>
</nav>
<header>
<div class="mainBackgroundMountains">
<div class="h1-container">
  <h1>HOUSES IN RYSY</h1>
</div>
<div class="h2-container">
<h2>Unique houses above Rysy </h2>
</div>
<div class="text-reservation-container">
  <p>SEE AVAILABLE PLACES:</p>
  <div class="btn-container">
    <button>AVAILABLE PLACES</button>
  </div>
</div>
</div>
</header>
