<nav>
  <div class="logo-cont">

    <div class="logo" routerLink="">HouseRYS</div>
  </div>
  <ul>
    <li>
      <a routerLink="roomlist">ROOMS</a>
      <a routerLink="reservation">RESERVATION</a>
      <a routerLink="contact">CONTACT</a>
    </li>
  </ul>
</nav>
<header>
<div class="mainBackgroundMountains">
<div class="h1-container">
  <h1>HouseRYS</h1>
</div>
<div class="h2-container">
<h2>The best place to <span>

  relax

</span>
in Zakopane
<div class="text-reservation-container">
  <div class="btn-container">
    <button>AVAILABLE PLACES</button>
  </div>
</div>
</h2>
</div>
</div>
</header>
