nav{
  height: 8vh;
  width: 100%;
  background-color: rgb(22, 22, 23);
  display: flex;

}
.logo{
  color: #fff;
  margin: 1.5rem 2.5rem;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  z-index: 1000;
  font-weight: 700;
  cursor: pointer;


}

.logo-cont{
  // flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  width:40rem;

}

ul{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  margin:2.5rem;
  transition: .3s;

&:hover{
  padding-bottom: .5rem;
  border-bottom: .2rem solid #16dfa7;
  transition: .1s;
}
}

.mainBackgroundMountains{
  background-color: #000;
  height: 45rem;
  width: 100%;
}
h1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 28rem;
  font-size: 4rem;
  color: #fff;
  letter-spacing:.6rem;
}
.h1-container{
  display: flex;
  justify-content: center;
  align-items: center;


}
.h2-container{
  display: flex;
  justify-content: center;


}

.h2-container h2{
  color: #fff;
  letter-spacing: .4rem;
  font-size: 1.8rem;
}

.text-reservation-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-reservation-container p{
  font-size: 1.5rem;
  color: #2997ff;
  font-weight: 700;
  text-shadow: .1rem .1rem .1rem #000;
  margin: 1.5rem 1.5rem
}




button{
  width: 25rem;
  height: 5rem;
  color: #000;
  outline: none;
  border: none;
  background-color:var(--color-primary-blue);
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-container{
  margin: 1.5rem 1.5rem
}


h2 span{
  color:#2997ff  ;
}
