<nav>
  <div class="logo-cont">

    <div class="logo" routerLink="">HouseRYS</div>
  </div>
  <ul>
    <li>
      <span>

        <a routerLink="roomlist">ROOMS</a>
      </span>
      <a routerLink="reservation">RESERVATION</a>
      <a routerLink="contact">CONTACT</a>
      <span id="menu" class="material-symbols-outlined">menu</span>
    </li>
  </ul>
</nav>
<header>
<div class="mainBackgroundMountains">
  <div class="left-site-cont">

    <div class="h1-container">
      <h1>HouseRYS</h1>
    </div>
    <div class="h2-container">
      <h2>The best place to <span>

        relax

      </span>
      in Zakopane!
      <div class="text-reservation-container">
        <div class="btn-container">
          <button>AVAILABLE PLACES</button>
        </div>
      </div>
    </h2>
  </div>
</div>
<div class="center-site-cont">
</div>
<div class="right-site-cont">

  <div class="icons-text-container">
    <p>Check our socials

    </p>

  </div>
  <div class="icons-container">

    <i id="facebookIcon" class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-square-whatsapp"></i>
  </div>
</div>
</div>
</header>
