

nav{
  height: 8vh;
  width: 100%;
  min-width: 100%;
  background-color: rgb(22, 22, 23);
  display: flex;
  margin: 0 auto;
  // position: relative;
  max-width: 100%;
  border-bottom: 1px solid var(--color-primary-blue);

}
.logo{
  color: #fff;
  margin: 1.5rem 2.5rem;
  font-size: 3.8rem;
  letter-spacing: .2rem;
  z-index: 1000;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;


}

.logo-cont{
  // flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  width:40rem;

}

ul{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2.7rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin:2rem;
  transition: .3s;

&:hover{
  // padding-bott om: .5rem;
  border-bottom: .2rem solid var(--color-primary-blue);
  transition: .1s;
}
}

#menu{
  display:none;
}

ul li span a{
  color: var(--color-primary-blue);
}

.mainBackgroundMountains{
  background-color: #000;
  height: 45rem;
  width: 100%;
}
h1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // margin-top: 2.8rem;
  font-size: 4rem;
  color: #fff;
  letter-spacing:.6rem;
  margin-top: 12rem;
}
.h1-container{
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 10rem;


}
.h2-container{
  display: flex;
  justify-content: center;


}

.h2-container h2{
  color: #fff;
  letter-spacing: .4rem;
  font-size: 1.8rem;
  margin: .5rem .5rem

}

.text-reservation-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.text-reservation-container p{
  font-size: 1.5rem;
  color: #2997ff;
  font-weight: 700;
  text-shadow: .1rem .1rem .1rem #000;
  margin: 3.5rem 3.5rem
}




button{
  width: 27rem;
  height: 6rem;
  color: var(--color-primary-black);
  outline: none;
  border: none;
  background-color:#fff;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s;


  &:hover{
    transition: 0.3s;
    background-color:rgb(218, 214, 214);
    color: #272222;

  }
}

.btn-container{
  margin: 1.5rem 3.5rem
}


h2 span{
  color:#2997ff  ;
}

@media only screen and (max-width: 700px){
  ul li a {
    display: none;
  }
  #menu{
    display: block;
    color: #fff;
    font-size: 3.5rem;
    margin: 1.5rem 1.5rem;
  }
  .logo{
    font-size: 2rem;
  }
}
