.background{
height: 100vh;
width: 100%;
background-color: #000;


}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.photo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 50px;


}
.firstImage, .secondImage, .thirdImage, .fourImage{
width: 400px;
height: 400px;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.firstImage{
  background-image: url(../../../assets/housePhoto1.webp);

}


.text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 8rem;
  margin-bottom: 25px;
  padding: 15px;

  background-color: #050505;

}

.text-container p{
  // font-weight: 00;
  color: #fff;
  text-transform: uppercase;
}
.photo-container img{
  width: 300px;
  height: 400px;
  margin: 60px 15px 15px 15px;
  object-fit: cover;
  cursor: pointer;
  border: 1px double #fff;
}

.content-house-container{
  margin: 15px;
  max-width: 300px;
  height: 10rem;
  background-color: #050505;
  border-bottom: 1px solid #41e592;

}

.content-house-text{
  text-align: start;
  font-size: 1.3rem;
  font-weight: 700;
  height: 4.5rem;
  padding: 5px;
  padding-top: 15px;
  color: #fff;

}



.content-house-rating b{
  color: rgb(167, 26, 80);

}
.content-house-rating, .content-house-price, .content-house-place {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin: 5px;
}


.button-reserve-container{
  margin: 15px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-reserve-container button{
  height: 50px;
  width: 300px;
  outline: none;
  margin: 5px;
  border: 1px solid #fff;
  background-color: #41e592;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  &:hover{
    background-color: rgb(178, 21, 21);
  }
}

