.background{
height: 80vh;
width: 100%;
background-color: #fff;


}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.photo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 50px;


}
.firstImage, .secondImage, .thirdImage, .fourImage{
width: 400px;
height: 400px;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.firstImage{
  background-image: url(../../../assets/housePhoto.jpg);

}


.text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 5rem;
  margin-bottom: 25px;
  font-weight: 700;

  background-color: #41e592;

}

.text-container p{
  // font-weight: 00;
  color: #181818;
  text-transform: uppercase;
}
.photo-container img{
  width: 300px;
  height: 400px;
  margin: 0px 15px 15px 15px;
  object-fit: cover;
  cursor: pointer;
  border: 1px double #000;
}

.content-house-container{
  margin: 15px;
  max-width: 300px;
  background-color: #e3e3d2;
  border-bottom: 1px solid #000;
}

.content-house-text{
  text-align: start;
  font-size: 1.3rem;
  font-weight: 700;
}



.content-house-rating b{
  color: rgb(167, 26, 80);

}
.content-house-rating, .content-house-price, .content-house-place {
  font-size: 1rem;
  font-weight: 700;
  color: #727272;
}


.button-reserve-container{
  margin: 15px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-reserve-container button{
  height: 50px;
  width: 300px;
  outline: none;
  border: 1px solid #e3e3d2;
  background-color: #41e592;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

