<div class="background">
  <div class="text-container">
    <p>Houses to rent</p>
  </div>
  <div class="photo-container">
    <div class="container">
      <img src="../../../assets/housePhoto.jpg" alt="" />
      <div class="content-house-container">
        <p class="content-house-text">
          Classic old house with modern inside style
        </p>
        <p class="content-house-place">Zakopane, centrum</p>

        <p class="content-house-price">
          Price for night is {{ house1Price }} zł
        </p>
        <p class="content-house-rating">
          Rating is
          <b>
            {{ house1Rating }}
          </b>
        </p>
      </div>
      <div class="button-reserve-container">
        <button>Check a posibility reserve now</button>
      </div>
    </div>
    <div class="container">
      <img src="../../../assets/HousePhoto2.jpg" alt="" />
      <div class="content-house-container">
        <p class="content-house-text">
          Classic old house with modern inside style
        </p>
        <p class="content-house-place">Zakopane, wybrzeże</p>

        <p class="content-house-price">
          Price for night is {{ house2Price }} zł
        </p>
        <p class="content-house-rating">
          Rating is
          <b>
            {{ house2Rating }}
          </b>
        </p>
      </div>
      <div class="button-reserve-container">
        <button>Check a posibility reserve now</button>
      </div>
    </div>
    <div class="container">
      <img src="../../../assets/HousePhoto3.jpg" alt="" />
      <div class="content-house-container">
        <p class="content-house-text">
          Classic old house with modern inside style
        </p>
        <p class="content-house-place">Zakopane, 5km to centrum</p>

        <p class="content-house-price">
          Price for night is {{ house3Price }} zł
        </p>
        <p class="content-house-rating">
          Rating is
          <b>
            {{ house3Rating }}
          </b>
        </p>

      </div>
      <div class="button-reserve-container">
        <button>Check a posibility reserve now</button>
      </div>
    </div>
    <div class="container">
      <img src="../../../assets/housePhoto4.jpg" alt="" />
      <div class="content-house-container">
        <p class="content-house-text">
          Classic old house with modern inside style
        </p>
        <p class="content-house-place">Zakopane, centrum</p>
        <p class="content-house-price">
          Price for night is {{ house4Price }} zł
        </p>
        <p class="content-house-rating">
          Rating is

          <b>
            {{ house4Rating }}
          </b>
        </p>
      </div>
      <div class="button-reserve-container">
        <button>Check a posibility reserve now</button>
      </div>
    </div>
  </div>
</div>
