<div *ngIf="houseInfo" class="background-house-container">
  <div class="content-house-container">
    <div class="flex2">
      <img [src]="'assets/housePhoto' + houseInfo.image_id + '.webp'" alt="">

    </div>
    <div class="flex">

      <h2 class="house-name-content">{{ houseInfo.name }}</h2>
      <p class="place-content">Place: {{ houseInfo.description }}</p>
      <p class="price-content">Price: <span>
ss
        {{ houseInfo.price }}
      </span>d
        zł</p>
      <p class="about-content">{{houseInfo.about}}</p>
      <div class="button-reserve-container">
        <button (click)="checkAvailability()">Check a posibility reserve now</button>
        <button routerLink="/form/">Send a message to us!</button>
        <button routerLink="">Back to menu</button>


      </div>

    </div>
  </div>
</div>
