img{
  width: 450px;
  height: 450px;
}

.background-house-container{
  background-color: #000;
  width: 100%;
  height: 80vh;
  display:flex;
  justify-content: center;
}
.content-house-container{

width: 1300px;
height: 70vh;
display: flex;
// align-items:center;
color: #fff;
// margin-top: 300px;
}
.flex2{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.flex2 img{
  border: 3px solid #16dfa7;
}

.flex{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-top: 90px;
  // display: flex;
  // justify-content: center;
  // align-items: right;
  // flex-direction: column;

}
h2{
  font-size: 3.5rem;
}

p{
  font-size: 2rem;

}



.about-content{
  max-width: 600px;
  text-align: justify;
  margin: 5px 15px;
}

.place-content, .price-content{
  margin: 5px 15px;
}

.house-name-content{
  margin: 25px 15px;
}

.price-content span{
  color: rgb(255 94 155);
}


.button-reserve-container{
  margin: 15px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-reserve-container button{
  height: 50px;
  width: 300px;
  outline: none;
  margin: 5px;
  border: 1px solid #fff;
  background-color: #41e592;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  &:hover{
    background-color: rgb(255 94 155);
  }
}
