img{
  width: 450px;
  height: 450px;
}

.background-house-container{
  background-color: #000;
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content: center;
}
.content-house-container{

width: 1000px;
height: 50vh;
// align-items:center;
color: #fff;
margin-top: 300px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;

}
h2{
  font-size: 3.5rem;
}

p{
  font-size: 2rem;
}

