.background-house-container{
  background-color: var(--color-primary-black);
  width: 100%;
  height: 80vh;
  display:flex;
  justify-content: center;
  max-width: 100%;
}
.content-house-container{

width: 1300px;
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
// align-items:center;
color: #fff;
// margin-top: 300px;
}
form{
  display: flex;
  flex-direction: column;
}
label span{
  color:#41e592 ;
}

input, select{
  width: 300px;
  height: 40px;
  margin: 10px 0px
}

.btn-submit{
  cursor: pointer;
  background-color: #41e592;
  color: var(--color-primary-black);
}
.formSuccess{
  display: none;
}
