<div class="background-house-container">
  <div class="content-house-container">
    <form action="">
      <label for="">Choose your house</label>
      <input type="text">
      <label for="">First name</label>
      <input type="text">
      <label for="">Second name</label>
      <input type="text">
      <label for="">E-mail</label>
      <input type="text">
      <label for="">Phone Number</label>
      <input type="text">
      <label for="">Date</label>
      <input type="text">


    </form>
  </div>
</div>
