<div class="background-house-container">
  <div class="content-house-container">
    <form [formGroup]="houseReservationForm" (ngSubmit)="onSubmit()">
      <label for="house">Choose your house:</label>
      <select formControlName="house_id" [(ngModel)]="selectedHouseId">
        <option *ngFor="let house of housesList" [value]="house.id">{{house.name}}</option>
      </select>
      <label for="firstName">First <span>name</span></label>
      <input type="text" formControlName="name" id="firstName">
      <label for="email">E-mail</label>
      <input type="text" formControlName="email" id="email">
      <label for="phoneNumber">Phone Number</label>
      <input type="tel" formControlName="phone" id="phoneNumber" maxlength="9">
      <label for="guests">Number of guests</label>
      <input type="number" formControlName="guests" id="guests">
      <input type="submit" value="Send" class="btn-submit">
    </form>
  </div>
</div>
